<?xml version="1.0"?>
<config>
    <modules>
        <Creativestyle_TransactionalEmailCopy>
            <version>0.1.0</version>
        </Creativestyle_TransactionalEmailCopy>
    </modules>
    <global>
        <blocks>
            <creativestyle_transactionalemailcopy>
                <class>Creativestyle_TransactionalEmailCopy_Block</class>
            </creativestyle_transactionalemailcopy>
            <adminhtml>
                <rewrite>
                    <system_email_template_grid>Creativestyle_TransactionalEmailCopy_Block_Adminhtml_System_Email_Template_Grid</system_email_template_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <creativestyle_transactionalemailcopy>
                <class>Creativestyle_TransactionalEmailCopy_Helper</class>
            </creativestyle_transactionalemailcopy>
        </helpers>
    </global>
    <admin>
        <routers>
            <emailcopy>
                <use>admin</use>
                <args>
                    <module>Creativestyle_TransactionalEmailCopy</module>
                    <frontName>transactionalcopy</frontName>
                </args>
            </emailcopy>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <creativestyle_transactionalemailcopy>
                    <files>
                        <default>Creativestyle_TransactionalEmailCopy.csv</default>
                    </files>
                </creativestyle_transactionalemailcopy>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <transactionalemailcopy>
                                            <title>Transactional Email Copy</title>
                                        </transactionalemailcopy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>